/*Especificidad*/

#h1-id{
    color: darksalmon;
}


/*Aumentar especificidad 1,1,0*/
/* #h1-id.h1-clase{
    color: darksalmon;
}
 */

/*Aumentar especificidad 1,1,1*/
/*
h1#h1-id\ h1-otroid.h1-clase{
    color: darksalmon;
} 
*/

.h1-clase{
    color: yellow;
}

h1{
    color: blue !important;
}

p{
    color: red;
}