.escenario{
    border: 1px solid #ccc;
    padding: 10px;
}

.escenario-1{
    font-size: 32px;
}

.escenario-2{
    font-size: 16px;
}

/* Hace referencia al tamaño de fuente de su contenedor */
.em{
    font-size: 2em;
}

/* Hace referencia al tamaño de fuente de la raiz */
.rem{
    font-size: 2rem;
} 