body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.btn-modern{
    background-color: darkgreen;
    color: white;
    padding: 10px;
}

.btn-modern:hover{
    transform: translateY(-5px);
    box-shadow: 10px 10px 5px lightgreen;
    background-color: rgb(4, 153, 4);
    color: whitesmoke;
    transition: 0.4s;
}