.div-1, .div-2{
    background-color: red;
}

.span-1{
    background-color: aquamarine;
    float: left;
}

.span-2{
    background-color: aquamarine;
    float: right;
}

.img{
    height: 50px;
    width: 100px;    
}