.padre{
    background-color: blue;
    height: 400px;
    width: 400px;
}

.hijo{
    background-color: beige;
    height: 50%;
    width: 50%;
    /*transition: transform 1s cubic-bezier(1, 1.26, 1, -0.31) 2s;*/

    animation: traslacion 4s ease-in-out infinite forwards alternate;

}

.padre:hover .hijo{
    /*
    background-color: blueviolet;
    transform: translateX(100%);
    */

    animation-play-state: paused;
}

@keyframes traslacion {
    0% {
        background-color: beige;
        transform: translateX(0%) translateY(0%);
    }
    25% {
        transform: translateX(100%) translateY(0%);
    }
    50% {
        transform: translateX(100%) translateY(100%);
    }
    75% {
        transform: translateX(0%) translateY(100%);
    }
    100% {
        background-color: darkorange;
        transform: translateX(0%) translateY(0%);
    }
}