<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   {% block title %} <title>Peliculas</title> {% endblock %}
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css
   ">
 
   <!-- Add additional CSS in static file -->
   {% load static %}
   <link rel="stylesheet" href="{% static 'css/styles.css' %}">
 
</head>
<body>

    {% block menu %}

    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Peliculas En acciòn</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'peliculas_mas' %}">Peliculas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'directores' %}">Directores</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'generos' %}">Generos</a>
                    </li>
                </ul>
                <span class="navbar-text">
                    Películas!!!
                </span>
            </div>
        </div>
    </nav>
    
    {% endblock %}

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    

   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js
   "></script>
</body>
</html>
