{% extends "base_generic.html" %}
 
{% block content %}
 
   <h1>Mis Peliculas</h1>
   <p>Bienvenido  a <em>Mis Peliculas</em>, disfruta de una excelente pelicula </p>
 
   <h2>Peliculas</h2>

    <table class="table table-dark table-hover">
        <thead>
            <tr>
                <th>Titulo</th>
                <th>Genero</th>
            </tr>
        </thead>
        <tbody>
            {% for pelicula in peliculas %}
                <tr>
                    <td>{{ pelicula.titulo }}</td>
                    <td>{{ pelicula.genero }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
 
{% endblock %}
